<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Automation1.PHPTravels.TestRegistration"/>
      <class name="Automation1.PHPTravels.TestLogin"/>
      <class name="Automation1.PHPTravels.TestFlightSearch"/>
      <class name="Automation1.PHPTravels.TestToursSearch"/>
      <class name="Automation1.PHPTravels.TestHotelsSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
